page-profile {

    ion-avatar {
        color: RoyalBlue;
        font-weight: normal;
        text-decoration: none;
      }
      ion-avatar:hover {
        color: CornflowerBlue;
      }
      
      /* Circle Avatar Styles */
      
      .circle {
          line-height: 0;		/* remove line-height */ 
          display: inline-block;	/* circle wraps image */
          margin: 5px;
        border: 2px solid rgba(255,255,255,0.4);
          border-radius: 50%;	/* relative value */
          box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
          transition: linear 0.25s;
        height: 25%;
        width: 30%;
      }
      .circle img {
          border-radius: 50%;	/* relative value for
                         adjustable image size */
      }
      .circle:hover {
          transition: ease-out 0.2s;
        border: 2px solid rgba(255,255,255,0.8);
        -webkit-transition: ease-out 0.2s;
      }
      ion-avatar.circle {
        color: transparent;
      } 

    .background{
      width: 100%;
      height: 100%;
      // background: linear-gradient(10deg,#4E5EFC,#4EE7FC);
      //url(../../assets/imgs/bg4.jpg);
      //
  }
  .scroll-content{
      text-align: center;
  }
  ion-card.card{
      background: rgba(232, 230, 230, 0.6px);
      border-radius: 10px;
  }
  .item{
      background: rgba(232, 230, 230, 0px);
  }
  ion-avatar{
      border: #FD4D73 solid 1px;
  }

}
